# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# Transformed files
transformed-files/

# Tracking data
tracking-data/*
!tracking-data/README.md

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
